In [1]:
# COMPARSION OPERATORS
# EQUALS

# EXAMPLE 1
x = 4
y = 5
print(x == y)

# EXAMPLE 2
x = 36
y = 6**2
print(x == y)

# EXAMPLE 3
z = 0
v = 25%5
print(z == v)

# EXAMPLE 4
x = 12
y = 3*4
print(x == y)

# EXAMPLE 5
x = 10
y = 9
print(x == y)

# EXAMPLE 6
x = 10
y = 10
print(x == y)

False
True
True
True
False
True

In [2]:
# NOT EQUAL

# EXAMPLE 1
x = 25
y = 25
print(x != y)

# EXAMPLE 2
x = 2
y = 22/11
print(x != y)

# EXAMPLE 3
x = 49
y = 7**2
print(x != y)

# EXAMPLE 4
x = 10
y = 15
print(x != y)

# EXAMPLE 5
x = 1
y = 48 % 8
print(x != y)

False
False
False
True
True

In [3]:
# GREATER THAN

# EXAMPLE 1
x = 50
y = 40
print( x > y)

# EXAMPLE 2
x = 3**2
y = 2**2
print(x > y)

# EXAMPLE 3
x = 50/10
y = 40/4
print(x > y)

#EXAMPLE 4
x = 8*9
y = 8*10
print(x > y)

# EXAMPLE 5
x = 10
y = 9
print(x > y)

True
True
False
False
True

In [4]:
# LESS THAN

# EXAMPLE 1
x = 70
y = 50
print(y < x)

# EXAMPLE 2
x = 9**2
y = 8**2
print(y < x)

# EXAMPLE 3
x = 64/8
y = 40/10
print(x < y)

# EXAMPLE 4
x = 2*9
y = 3*5
print(x < y)

# EXAMPLE 5
x = 10
y = 10
print(x < y)

True
True
False
False
False

In [5]:
# GREATER THAN OR EQUAL TO

# EXAMPLE 1
x = 10
y = 20
print(x >= y)

# EXAMPLE 2
x = 2**2
y = 4**2
print(x >= y)

# EXAMPLE 3
z = 50/10
v = 20/10
print(z >= v)

# EXAMPLE 4
x = 36 % 6
y = 49 % 8
print(y >= x)

# EXAMPLE 5
x = 10
y = 50
print(x >= y)

False
False
True
True
False

In [6]:
# LESS THAN OR EQUAL TO

# EXAMPLE 1
x =  30
y = 50
print(x <= y)

# EXAMPLE 2
x = 5**2
y = 4*5
print(x <= y)

# EXAMPLE 3
z = 8**2
v = 12*5
print(v <= z)

# EXAMPLE 4
x = 44
y = 44
print( x <= y)

# EXAMPLE 5
x = 20
y = 20
print(x <= y)

True
False
True
True
True

In [7]:
# LOGICAL OPERATORS
# AND

# EXAMPLE 1
x = 15
print(x>10 and x<20)

# EXAMPLE 2
x = 50
print(x> 30 and x<70)

# EXAMPLE 3
y = 70
print(y>8*10 and y<9**2)

# EXAMPLE 4
y = 20
print(y>2*9 and y<18%2 )

# EXAMPLE 5
z = 30
print(z>20 and z<25)

True
True
False
False
False

In [8]:
# OR
# EXAMPLE 1
x = 35
print(x > 40 or x < 15)

# EXAMPLE 2
x = 40
print(x > 2*10 or x < 2**4)

# EXAMPLE 3
x = 50
print(x > 50 or x < 45)

# EXAMPLE 4
y = 3**2
print(y > 4 or y < 5 )

# EXAMPLE 5
y = 50%10
print(y> 1 or y< 5)

False
True
False
True
True

In [9]:
# NOT
# EXAMPLE 1
x = 25
print(not(x < 30 and x > 20 ))

# EXAMPLE 2
x = 36
print(not(x > 5**2 or x < 7**2))

# EXAMPLE 3
x = 18
print(not(x < 15 or x > 20))

# EXAMPLE 4
x = 4
print(not(x > 8/4 and x < 8/8))

# EXAMPLE 5
x = 10
print(not(x < 5 and x > 10))

False
False
True
True
True